
body{
    font-family: Helvetica, sans-serif, Arial;
}

.container{
    display: flex;
    flex-flow: column nowrap;
    background-color: blue;
    color: white;
}

.container-buat{
    display: flex;
    flex-flow: row nowrap;
    background-color: yellowgreen;
    width: 30rem;
    border-radius: 1rem;
    margin: 1rem;
}

.container-buat > div,form{
    display: flex;
    flex-flow:  column;
    margin: 1rem;
}

.judul-samping > span{
    margin: 1rem;
}

.form-ngetes > input{
    margin: 1rem;
}

.description{
    padding: 15px;
    border: 1px solid salmon;
    background-color: black;
    width: 20%;
    display: block;   
    margin: auto;
    margin-top: 30px;
    color: white;
    border-radius: 1rem;
}

.content{
    background: white;
    width: 30%;
    border: 1px solid purple;
    border-radius: 20px;
    padding: 20px;
}